/* transparency */
body, #app, .app-root, wa-dialog {
    background: none !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }

  /* garante que QUALQUER var branca fique 100 % transparente */
  :root, body, * {
    --color-neutral-light-00: rgba(0,0,0,0) !important;
    --color-wrapper-menu-panel-color-background: rgba(0,0,0,0) !important;
    --color-overlay-background-color-overlay: rgba(0,0,0,0) !important;
  }

  /* se o script colar branco inline */
  body[style], [style*="background"] {
    background: none !important;
  }
